# Python / Virtual Environment
myenv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Node / React
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Local emails archive & logs
sent_emails/
*.log
