{% extends "index.html" %}

{% block content %}
<h2>Edit Enrollment</h2>
<div class="container course-container">
<form method="POST">
    {% csrf_token %}
    <label for="course">Select Course:</label>
    <select name="course_id" id="course" required>
        {% for course in courses %}
        <option value="{{ course.id }}" {% if course.id == enrollment.course.id %}selected{% endif %}>{{ course.CourseName }}</option>
        {% endfor %}
    </select>

    <input type="hidden" name="student_id" value="{{ enrollment.student.id }}">
    
    <button type="submit">Update</button>
</form>
</div>
{% endblock %}
