{% include "header.html" %}
{% include "navbar.html" %}
<html>	
    <head>	
		  <title>
			{% block title %}
			  Course Management
			{% endblock title %}
		  </title>		            			                                    
    </head>
	<body>             
		{% block content %}		      

		{% endblock %}
    </body>
</html>
<script>
	$(document).ready(function(){
		$(".alert").hide(4000);
	});

	$(document).ready(function() {
    $('#toggleSidebar').click(function() {
        $('.sidebar').toggleClass('collapsed'); // Toggle collapsed class
        $('.content').toggleClass('collapsed'); // Adjust content margin
		$('.navbar-brand').toggleClass('collapsed');
		// Show only the icon when collapsed
		if ($('.sidebar').hasClass('collapsed')) {
			$('.menu-item span').toggle(); // Show the icon
        }
    });
});
</script>
        